### JAVA ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# =====================
# FRONTEND (React/Vite)
# =====================
node_modules/
dist/
build/
coverage/
*.log
.env

# =====================
# PYTHON
# =====================
ai-service/venv/
ai-service/.venv/
.venv/
venv/

__pycache__/
**/__pycache__/
*.pyc

ai-service/.env
ai-service/storage/
ai-service/ffmpeg.exe

# temp audio files
*.mp3
*.m4a

# ai temp
ai-service/temp_*