.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: #f4f7fe; /* Màu nền nhẹ cho Dashboard */
}

.main-content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}